@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Verbana';
  src: url('../fonts/Verdana-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verbana, sans-serif;
  font-size: 32px;
  color: #000000;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.hero {
  padding: 160px 0;
  background-color: #c8fff2;
}

.hero__title {
  margin-bottom: 140px;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__img {
  width: 235px;
  height: 230px;
}

.hero__text {
  margin: 0;
  margin-bottom: 60px;
  max-width: 885px;
  font-family: JetBrainsMono, sans-serif;
}

.hero__text:last-child {
  margin-bottom: 0;
}

.advantages {
  padding: 160px 0 150px 0;
  background-color: #a0ffe8;
}

.advantages__title {
  margin-bottom: 100px;
}

.advantages__cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1185px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px 70px 25px;
  border-radius: 25px;
  max-width: 358px;
  min-height: 426px;
  background-color: #ffffff;
}

.card__subtitle {
  margin: 0;
  font-size: 24px;
}

.card__text {
  margin: 0;
  text-align: center;
  max-width: 280px;
  font-size: 24px;
  font-family: JetBrainsMono, sans-serif;
}
