.title {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px 70px 25px;
  border-radius: 25px;
  max-width: 358px;
  min-height: 426px;
  background-color: #ffffff;

  &__subtitle {
    margin: 0;
    font-size: 24px;
  }

  &__text {
    margin: 0;
    text-align: center;
    max-width: 280px;
    font-size: 24px;
    font-family: JetBrainsMono, sans-serif;
  }
}
