html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Verbana, sans-serif;
  font-size: 32px;
  color: #000000;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}
